<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-blue-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Weather Master</a>
  </div>
</nav>
<!-- /.container -->

<!-- Page Content -->
<div class="container">
  <weather-overview></weather-overview>
</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-blue-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Riccardo Polacci 2017</p>
  </div>
  <!-- /.container -->
</footer>

